module.exports = { render: function(data) {
var __t, __p = '', __j = Array.prototype.join;
function print() { __p += __j.call(arguments, '') }
__p += '<div class="profileSelectorWrapper">\n  <div class="selectedList _selectedList">\n  <div class="_selectedListBlock">\n    <!--<span class="btn-lite-cmt profileSelect _profileSelect"><span class="icon-19 account"></span></span>-->\n    <span class="filterItem _filter">\n      <em class="_defaultText defaultText pht" role="combobox" aria-label="' +
((__t = ( translation._('Filter by social account') )) == null ? '' : __t) +
'">' +
((__t = ( (hsEjs.cleanPage(data.defaultText) || translation._("Send to")) )) == null ? '' : __t) +
'&hellip;</em>\n      <span class="icon-19 search"></span>\n      <input class="_filterName clean pht" type="text" value=\'\' placeholder="' +
((__t = ( translation._("Find profile") )) == null ? '' : __t) +
'&hellip;"/>\n    </span>\n  </div>\n\n    <div class="tools _tools">\n      <span class="inputBtn _selectedCount selectedCount">0</span>\n    <span class="inputBtn _jsTooltip _clear" title="' +
((__t = ( translation._("Clear") )) == null ? '' : __t) +
'">\n      <span class="icon-19 close"></span>\n    </span>\n    <span class="inputBtn _filterBy _jsTooltip" title=\'' +
((__t = ( translation._("Select") )) == null ? '' : __t) +
'\'>\n      <span class="icon-btn icon-19 moreMenu"></span>\n    </span>\n    </div>\n  </div>\n  <div class="picker _picker">\n    <div class="snList _itemList">\n      <div class="list-scroll _itemListBody">\n        ';
 if(data.hasMemberReachedSNMax){ ;
__p += '\n          <div data-dap-target="' +
((__t = ( data.pendoDataAttribute )) == null ? '' : __t) +
'" class="listItem addSocialNetwork _row _addSocialNetwork" title="' +
((__t = ( translation._("Add social network") )) == null ? '' : __t) +
'">\n        ';
 } else { ;
__p += '\n          <div class="listItem addSocialNetwork _row _addSocialNetwork" title="' +
((__t = ( translation._("Add social network") )) == null ? '' : __t) +
'">\n        ';
 } ;
__p += '\n          <div class="details">\n            <span class="addIcon"><span class="icon-13 plus"></span></span><strong class="link">' +
((__t = ( translation._("Add social network") )) == null ? '' : __t) +
'</strong>\n          </div>\n        </div>\n        ';
 if (!data.hasPostableSocialNetworks) { ;
__p += '\n        <div class="row" class="_addSocialNetwork">' +
((__t = ( translation._("You have no social networks to select here yet!") )) == null ? '' : __t) +
'</div>\n        ';
 } ;
__p += '\n      </div>\n    </div>\n  </div>\n</div>\n';
return __p
} };