module.exports = { render: function(data) {
var __t, __p = '';
__p += '<div id="app_' +
((__t = ( data._id )) == null ? '' : __t) +
'" ' +
((__t = ( data.additionalStyle)) == null ? '' : __t) +
' class="_liApp _listItem listItem _liNotInstalled _liHasStream _liHasPlugin" appid="' +
((__t = ( data._id )) == null ? '' : __t) +
'" memberappid="' +
((__t = ( data.memberAppId )) == null ? '' : __t) +
'" currencysymbol="' +
((__t = ( data.currencySymbol )) == null ? '' : __t) +
'" price="' +
((__t = ( data.price )) == null ? '' : __t) +
'" trialdays="' +
((__t = ( data.trialDays )) == null ? '' : __t) +
'">\n    <img class="itemAvatar" src="' +
((__t = ( data.icon256Url )) == null ? '' : __t) +
'"/>\n    ' +
((__t = ( data.isInstalledBadgeHTML )) == null ? '' : __t) +
'\n\n    <div class="_itemDetails">\n        <h3 class="_itemTitle itemTitle">\n            <a href="' +
((__t = ( data.appUrl)) == null ? '' : __t) +
'" target="_blank" class="_app_item_name">' +
((__t = ( data.title )) == null ? '' : __t) +
'</a>\n        </h3>\n\n        <h4 class="_itemAuthor itemAuthor">By\n            <a href="' +
((__t = ( data.appUrl)) == null ? '' : __t) +
'" target="_blank" rel="nofollow" class="_app_item_author">' +
((__t = ( data.authorName )) == null ? '' : __t) +
'</a>\n        </h4>\n        ' +
((__t = ( data.reviewSection)) == null ? '' : __t) +
'\n        <p>\n            ' +
((__t = ( data.description )) == null ? '' : __t) +
'\n        </p>\n\n        <p class="actions installedAppsActions">\n            ' +
((__t = ( data.affiliateLinkHTML )) == null ? '' : __t) +
'\n        </p>\n    </div>\n\n    <div class="controls">\n        ' +
((__t = ( data.componentBadgesHTML )) == null ? '' : __t) +
'\n        ' +
((__t = ( data.controlHTML )) == null ? '' : __t) +
'\n    </div>\n</div>\n';
return __p
} };