module.exports = { render: function(data) {
var __t, __p = '', __j = Array.prototype.join;
function print() { __p += __j.call(arguments, '') }


var tmplData = data.tmplData;
var attributionTemplate = data.attributionTemplate;
;
__p += '\n<div\n  ';
 if(tmplData.htmlId){ ;
__p += '\n    id="' +
((__t = ( tmplData.htmlId )) == null ? '' : __t) +
'"\n  ';
 } ;
__p += '\n\n  class="_message message ';
 if (tmplData.moreMessageClasses) { ;
__p +=
((__t = ( tmplData.moreMessageClasses )) == null ? '' : __t);
 } ;
__p += ' ';
 if (tmplData.isNewMessage) { ;
__p += 'newMessage';
 } ;
__p += ' ';
 if (tmplData.hasAssignment) { ;
__p += 'hasAssignment _hasAssignment';
 } else if (tmplData.hasResponse) { ;
__p += ' hasResponse _hasResponse';
 } ;
__p += ' ';
 if (tmplData.hasResolvedAssignment) { ;
__p += 'resolved _resolved';
 } ;
__p += '"\n\n  ';
 if(tmplData.socialNetworkId){ ;
__p += '\n    snid="' +
((__t = ( tmplData.socialNetworkId )) == null ? '' : __t) +
'"\n  ';
 } ;
__p += '\n\n  ';
 if(tmplData.externalUserId){ ;
__p += '\n    externaluserid="' +
((__t = ( hsEjs.cleanPage(tmplData.externalUserId) )) == null ? '' : __t) +
'"\n  ';
 } ;
__p += '\n\n  ';
 if(tmplData.realname){ ;
__p += '\n    realname="' +
((__t = ( hsEjs.cleanPage(tmplData.realname) )) == null ? '' : __t) +
'"\n  ';
 } ;
__p += '\n\n  ';
 if(tmplData.externalPostId){ ;
__p += '\n    externalpostid="' +
((__t = ( hsEjs.cleanPage(tmplData.externalPostId) )) == null ? '' : __t) +
'"\n  ';
 } ;
__p += '\n\n  ';
 if(tmplData.recipientId){ ;
__p += '\n    recipientId="' +
((__t = ( hsEjs.cleanPage(tmplData.recipientId) )) == null ? '' : __t) +
'"\n  ';
 } ;
__p += '\n\n  ';
 if(tmplData.mostRecentPostId){ ;
__p += '\n    mostrecentpostid="' +
((__t = ( hsEjs.cleanPage(tmplData.mostRecentPostId) )) == null ? '' : __t) +
'"\n  ';
 } ;
__p += '\n\n  ';
 if(tmplData.kind){ ;
__p += '\n    kind="' +
((__t = ( hsEjs.cleanPage(tmplData.kind) )) == null ? '' : __t) +
'"\n  ';
 } ;
__p += '\n\n  ';
 if(tmplData.canDeleteComment){ ;
__p += '\n    usercandelete="' +
((__t = ( hsEjs.cleanPage(tmplData.canDeleteComment) )) == null ? '' : __t) +
'"\n  ';
 } ;
__p += '\n\n  ';
 if (tmplData.isCommentable) { ;
__p += '\n    iscommentable="' +
((__t = ( (  (tmplData.isCommentable)?(1):(0)	) )) == null ? '' : __t) +
'"\n  ';
 } ;
__p += '\n\n  ';
 if (tmplData.externalThreadId) { ;
__p += '\n    externalthreadid="' +
((__t = ( hsEjs.cleanPage(tmplData.externalThreadId) )) == null ? '' : __t) +
'"\n  ';
 } ;
__p += '\n\n  ';
 if(tmplData.isPromotable){ ;
__p += '\n     ispromotable="' +
((__t = ( ( (tmplData.isPromotable)?(1):(0) ) )) == null ? '' : __t) +
'"\n  ';
 } ;
__p += '\n>\n\n  <!-- Metadata Attribution -->\n  ' +
((__t = ( attributionTemplate.render({message: tmplData }) )) == null ? '' : __t) +
'\n\n  <div class="-messageBody">\n\n    <span class="_moreMenu actions"><span class="icon-13 arrowDown"></span></span>\n\n      <a\n        href="#"\n        class="networkAvatarLink ';
 if (tmplData.externalUserId) { ;
__p += '_userInfoPopupHere _userInfoDropdown';
 } ;
__p += '"\n\n        ';
 if(tmplData.realname){ ;
__p += '\n          title="' +
((__t = ( hsEjs.cleanPage(tmplData.realname) )) == null ? '' : __t) +
'"\n        ';
 } ;
__p += '\n\n        ';
 if (tmplData.externalUserId) { ;
__p += '\n          userid="' +
((__t = ( hsEjs.cleanPage(tmplData.externalUserId) )) == null ? '' : __t) +
'"\n        ';
 } ;
__p += '\n      >\n      </a>\n      <img\n        class="networkAvatar"\n\n        ';
 if (tmplData.avatarHref) { ;
__p += '\n          ';
 if (tmplData.lazyLoadingOff) { ;
__p += '\n            src="' +
((__t = ( tmplData.avatarHref )) == null ? '' : __t) +
'"\n          ';
 } else { ;
__p += '\n            lazysrc="' +
((__t = ( tmplData.avatarHref )) == null ? '' : __t) +
'"\n          ';
 } ;
__p += '\n          onerror="this.onerror=null;this.src=\'https://assets.hootsuite.com/v2/images/dashboard/avatars/member-default-100.8e9a4075.png\';"\n        ';
 } else { ;
__p += '\n          src="https://assets.hootsuite.com/v2/images/dashboard/avatars/member-default-100.8e9a4075.png"\n        ';
 } ;
__p += '\n      />\n    <div class="networkName">\n\n      <a href="#" class="_username _userInfoPopup ';
 if (tmplData.externalUserIdInfoLookup) { ;
__p += '_userInfoPopupHere';
 } ;
__p += '"\n\n        ';
 if (tmplData.realname) { ;
__p += '\n          title="' +
((__t = ( hsEjs.cleanPage(tmplData.realname) )) == null ? '' : __t) +
'"\n        ';
 } ;
__p += '\n\n        ';
 if (tmplData.externalUserId) { ;
__p += '\n          userid="' +
((__t = ( hsEjs.cleanPage(tmplData.externalUserIdInfoLookup) )) == null ? '' : __t) +
'"\n        ';
 } ;
__p += '\n      >\n        ' +
((__t = ( hsEjs.cleanPage(tmplData.realname) )) == null ? '' : __t) +
'\n      </a>\n\n      ';
 if (tmplData.recipientName && tmplData.recipientId) { ;
__p += ' &#9656;\n      <a href="#" class="_username _userInfoPopup ';
 if (tmplData.recipientIdInfoLookup) { ;
__p += '_userInfoPopupHere';
 } ;
__p += '"\n        ';
 if (tmplData.recipientId) { ;
__p += '\n          userid="' +
((__t = ( hsEjs.cleanPage(tmplData.recipientIdInfoLookup) )) == null ? '' : __t) +
'"\n        ';
 } ;
__p += '\n      >\n        ';
 if (tmplData.recipientName){ ;
__p += '\n          ' +
((__t = ( hsEjs.cleanPage(tmplData.recipientName) )) == null ? '' : __t) +
'\n        ';
 } ;
__p += '\n      </a>\n      ';
 } ;
__p += '\n\n    </div>\n\n      ';
 if (tmplData.attachedImageCount) { ;
__p += '\n      <span class="nameAction"> added ' +
((__t = ( tmplData.attachedImageCount )) == null ? '' : __t) +
' image' +
((__t = ( (tmplData.attachedImageCount > 1) ? "s": "" )) == null ? '' : __t) +
'</span>\n      ';
 } ;
__p += '\n\n      <div class="messageDetails">\n\n\n        ';
 if (tmplData.isNewMessage) { ;
__p += '\n          <span class="icon-13 status"></span>\n        ';
 } ;
__p += '\n\n        ';
 if (tmplData.latitude && tmplData.longitude) { ;
__p += '\n          <a href="#" class="_tLocationInfo locale icon-13" rel="' +
((__t = ( tmplData.latitude )) == null ? '' : __t) +
'|' +
((__t = ( tmplData.longitude )) == null ? '' : __t) +
'|' +
((__t = ( tmplData.locationName )) == null ? '' : __t) +
'"></a>\n        ';
 } ;
__p += '\n\n        ';
 if (_.has(tmplData, '-_-') && !!tmplData['-_-'].metadata.url) { ;
__p += '\n          <a class="postTime clearLeft _postTime _postPermalink" href="' +
((__t = ( tmplData['-_-'].metadata.url )) == null ? '' : __t) +
'" target="_blank" datetime="' +
((__t = ( (new Date(tmplData.postTimestamp)).format("isoDateTime") )) == null ? '' : __t) +
'">\n            ' +
((__t = ( hsEjs.cleanPage(tmplData.postDateText) )) == null ? '' : __t) +
'\n          </a>\n        ';
 } else { ;
__p += '\n          ';
 if (tmplData.postPermalink) { ;
__p += '\n            <a class="postTime clearLeft _postTime _postPermalink" href="' +
((__t = ( tmplData.postPermalink )) == null ? '' : __t) +
'" target="_blank" ';
 if (tmplData.postTimestamp) { ;
__p += 'datetime="' +
((__t = ( (new Date(tmplData.postTimestamp)).format("isoDateTime") )) == null ? '' : __t) +
'"';
 } ;
__p += '>\n          ';
 } else { ;
__p += '\n            <span class="postTime clearLeft _postTime" ';
 if (tmplData.postTimestamp) { ;
__p += 'datetime="' +
((__t = ( (new Date(tmplData.postTimestamp)).format("isoDateTime") )) == null ? '' : __t) +
'"';
 } ;
__p += '>\n          ';
 } ;
__p += '\n          ';
 if (tmplData.postDateText) { ;
__p += '\n            ' +
((__t = ( hsEjs.cleanPage(tmplData.postDateText) )) == null ? '' : __t) +
'\n          ';
 } ;
__p += '\n          ';
 if (tmplData.postPermalink) { ;
__p += '\n            </a>\n          ';
 } else { ;
__p += '\n            </span>\n          ';
 } ;
__p += '\n        ';
 } ;
__p += '\n\n\n\n        ';
 if (tmplData.permissionLabel) { ;
__p += '\n          <span class="permissionLabel">\n            ';
 var permissionLabelWrapper = '{{permission}}'; ;
__p += '\n            ';
 if (tmplData.permissionLabel === 'Public') { permissionLabelWrapper = '<span class="_jsTooltip" title="' + translation._('Visible to anyone (public on the web).') + '">{{permission}}</span>'; } ;
__p += '\n            - ' +
((__t = ( permissionLabelWrapper.replace('{{permission}}', hsEjs.cleanPage(tmplData.permissionLabel)) )) == null ? '' : __t) +
'\n          </span>\n        ';
 } ;
__p += '\n\n      </div>\n\n    ';
 if (tmplData.targetHref && tmplData.targetLabel) { ;
__p += '\n      <div class="messageContent messageSource">On <a href="' +
((__t = ( hsEjs.cleanPage(tmplData.targetHref) )) == null ? '' : __t) +
'" target="_blank">' +
((__t = ( hsEjs.cleanPage(tmplData.targetLabel) )) == null ? '' : __t) +
'</a>&#39;s wall:</div>\n    ';
 } ;
__p += '\n\n    ';
 if (	 (tmplData.content && tmplData.content.length) || (typeof title != 'undefined' && title.length) ) { ;
__p += '\n\n      <p class="_baseTweetText _postText messageContent">\n        ' +
((__t = ( tmplData.content )) == null ? '' : __t) +
'\n      </p>\n    ';
 } ;
__p += '\n    ';
 if (tmplData.attachments && tmplData.attachments.length) { ;
__p += '\n      ';
 for (var i=0; i<tmplData.attachments.length; i++) { ;
__p += '\n\n      <div class="_postAttachment postAttachment ';
 if (tmplData.attachments[i].attachmentBox) { ;
__p += 'x-attachmentBox';
 } ;
__p += '">\n\n        ' +
((__t = ( tmplData.attachments[i].attachmentRenderedHtml )) == null ? '' : __t) +
'\n\n        ';
 if (tmplData.attachments[i].attachmentTitle) { ;
__p += '\n        <div class="_postAttachmentTitle title">\n          ';
 if (tmplData.attachments[i].attachmentHref) { ;
__p += '<a href="' +
((__t = ( tmplData.attachments[i].attachmentHref )) == null ? '' : __t) +
'" target="_blank">';
 } ;
__p += '\n            ' +
((__t = ( hsEjs.cleanPage( tmplData.attachments[i].attachmentTitle ) )) == null ? '' : __t) +
'\n            ';
 if (tmplData.attachments[i].attachmentHref) { ;
__p += '</a>';
 } ;
__p += '\n        </div>\n        ';
 } ;
__p += '\n\n        ';
 if (tmplData.attachments[i].attachmentCaption) { ;
__p += '\n        <div class="caption">' +
((__t = ( hsEjs.cleanPage( tmplData.attachments[i].attachmentCaption ) )) == null ? '' : __t) +
'</div>\n        ';
 } ;
__p += '\n\n        ';
 if (tmplData.attachments[i].attachmentDescription) { ;
__p += '\n        <div class="description">' +
((__t = ( hsEjs.cleanPage( tmplData.attachments[i].attachmentDescription ) )) == null ? '' : __t) +
'</div>\n        ';
 } ;
__p += '\n\n        ';
 if (tmplData.attachments[i].attachmentExtraRenderedHtml) { ;
__p += '\n        ' +
((__t = ( tmplData.attachments[i].attachmentExtraRenderedHtml )) == null ? '' : __t) +
'\n        ';
 } ;
__p += '\n\n      </div>\n      ';
 } ;
__p += '\n    ';
 } ;
__p += '\n\n  </div>\n\n  ';
 var hasLikes = (!!tmplData.numLikes && tmplData.numLikes > 0); ;
__p += '\n  ';
 var hasComments = (!!tmplData.numComments && tmplData.numComments > 0); ;
__p += '\n  ';
 if (tmplData.isCommentable && !tmplData.hackIsCommentPost) { ;
__p += '\n\n    ';
 if (typeof tmplData.hideComments == "undefined" || !tmplData.hideComments) { ;
__p += '\n    ';
 } ;
__p += '\n\n  ';
 } else if (tmplData.hackIsCommentPost) { ;
__p += '\n    ';
 if (!tmplData.IsCommentPost) { ;
__p += '\n      ';
 if (hasLikes || hasComments) { ;
__p += '\n        <div class="messageComments">\n        </div>\n      ';
 } ;
__p += '\n    ';
 } else { ;
__p += '\n      <div class="_postComments messageComments">\n        <div class="_commentList commentList" style="display:none;"></div>\n\n        ';
 if (!tmplData.noCommentBox && tmplData.canComment == true) { ;
__p += '\n          <div class="_commentEntry commentBox comment">\n            <div class="commentEntry">\n              <div class="ui-input ui-textarea">\n                <textarea class="_commentEntryArea clean" data-placeholder="' +
((__t = ( translation._('Add a reply...') )) == null ? '' : __t) +
'" title="Press enter &#8629; to submit"></textarea>\n              </div>\n            </div>\n            <div class="_btns btns btns-right" style="display:none;">\n              <a class="btn-cmt _submitComment submitComment"\n                 data-tracking-action="replied_comment"\n              >\n                ' +
((__t = ( translation._("Add") )) == null ? '' : __t) +
'\n              </a>\n            </div>\n          </div>\n        ';
 } ;
__p += '\n      </div>\n    ';
 } ;
__p += '\n  ';
 } ;
__p += '\n\n</div>\n';

if (tmplData.displayCommentsBeneath && tmplData.isCommentable) {
var placeholderText = tmplData.commentsBeneathPlaceholder || translation._("Add a comment...");
;
__p += '\n  ';

    var withinReplyWindow = tmplData.withinReplyWindow;
    var replyWindow = 7;
  ;
__p += '\n  ';
 if (withinReplyWindow) { ;
__p += '\n    <div class="message commentBox _commentEntryBeneath">\n      <div class="_commentEntry commentEntry comment">\n        ';
 if (!tmplData.noCommentBox) { ;
__p += '\n        <div class="message-comments">\n          <div class="ui-input ui-textarea">\n            <textarea class="_commentEntryArea clean" data-placeholder="' +
((__t = ( placeholderText )) == null ? '' : __t) +
'" title=\'' +
((__t = ( translation._("Press (Shift+Enter) to submit") )) == null ? '' : __t) +
'\'></textarea>\n          </div>\n        </div>\n        <div class="_btns btns btns-right" style="display:none;">\n          <a class="btn-cmt _submitComment submitComment"\n            data-tracking-action="replied_comment">\n            ' +
((__t = ( translation._("Add") )) == null ? '' : __t) +
'\n          </a>\n        </div>\n        ';
 } ;
__p += '\n      </div>\n    </div>\n  ';
 } else { ;
__p += '\n    <div class="message commentBox _commentEntryBeneath" style="padding-left: 7px" >\n      <div class="warning-banner-container">\n        <div class="warning-icon-container">\n          <div class="warning-banner-icon">\n            <svg width="16" height="16" viewBox="0 0 20 20" fill="currentColor">\n              <path d="M19.02,16.91 L11.1,2.06 C10.63,1.18 9.36,1.18 8.89,2.06 L0.98,16.91 C0.53,17.74 1.13,18.75 2.08,18.75 L17.91,18.75 C18.86,18.75 19.46,17.74 19.02,16.91 Z M10,16.25 C9.31,16.25 8.75,15.69 8.75,15 C8.75,14.31 9.31,13.75 10,13.75 C10.69,13.75 11.25,14.31 11.25,15 C11.25,15.69 10.69,16.25 10,16.25 Z M11.25,12.5 L8.75,12.5 L8.75,7.5 L11.25,7.5 L11.25,12.5 Z"></path>\n            </svg>\n          </div>\n        </div>\n        <div class="warning-banner-text">\n          <p style="margin-bottom: 4px"><strong>' +
((__t = ( translation._("You can no longer reply to this person") )) == null ? '' : __t) +
'</strong></p>\n          <p>' +
((__t = (translation._("Facebook does not allow replies after " + replyWindow + " days since the last message was received.") )) == null ? '' : __t) +
'</p>\n        </div>\n      </div>\n    </div>\n  ';
 } ;
__p += '\n';
 } ;
__p += '\n';
return __p
} };