module.exports = { render: function(data) {
var __t, __p = '';
__p += '<div class="option _sendCommentToApp" pid="' +
((__t = ( data.pid )) == null ? '' : __t) +
'">\n    <button>\n        <img class="appMenuOptionIcon" src="' +
((__t = ( data.icon )) == null ? '' : __t) +
'" />' +
((__t = ( data.title )) == null ? '' : __t) +
'\n    </button>\n</div>\n';
return __p
} };