module.exports = { render: function(data) {
var __t, __p = '';
__p += '<a class="_sendToApp option" isnewsdk="' +
((__t = ( data.isNewSDK )) == null ? '' : __t) +
'"  pid="' +
((__t = ( data.pid )) == null ? '' : __t) +
'" key="' +
((__t = ( data.apiKey )) == null ? '' : __t) +
'" >\n    <img class="appMenuOptionIcon" src="' +
((__t = ( data.icon)) == null ? '' : __t) +
'" />' +
((__t = ( data.title )) == null ? '' : __t) +
'\n</a>\n';
return __p
} };