module.exports = { render: function(data) {
var __t, __p = '', __j = Array.prototype.join;
function print() { __p += __j.call(arguments, '') }
__p += '<div id="response_' +
((__t = ( data.teamId )) == null ? '' : __t) +
'_' +
((__t = ( data.socialNetworkType )) == null ? '' : __t) +
'_' +
((__t = ( stream.box.formatMessageIdForHtml(data.originalSnMessageId) )) == null ? '' : __t) +
'" class="messageResponse _response">\n  <div class="tasks">\n    <div class="task _header">\n      <span class="icon-19 reply"></span>\n      <span class="taskDate _relativeTime" data-timestamp="' +
((__t = ( data.timestamp )) == null ? '' : __t) +
'" title="' +
((__t = ( data.formattedDate )) == null ? '' : __t) +
'"></span>\n      <div class="taskAssignment">' +
((__t = ( translation._("Replied to by") )) == null ? '' : __t) +
' ' +
((__t = ( hsEjs.cleanPage(data.responseMemberName) )) == null ? '' : __t) +
' </div>\n      ';
 if (data.responseSnMessage) { ;
__p += '\n        <div class="taskMessage _oldMessages">\n          "' +
((__t = ( data.responseSnMessage )) == null ? '' : __t) +
'"\n        </div>\n      ';
 } ;
__p += '\n    </div>\n  </div>\n</div>\n';
return __p
} };